.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;

    height: 50px;

    padding: 7px 20px;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

    border-left: 10px solid #80CB27;
    border-radius: 10px;

    margin-top: 20px;
}

.line {
    border: 1px solid #EDEDF2;
    margin: 25px 0 0 0;
}

.card .btn-card {
    background-color: #fff;
}

.card .line2 {
    display: flex;
    flex-direction: column;
}

.card p {
    font-size: 16px;
    color: #9F9FA8;
    font-weight: 600;
}

.card span {
    cursor: pointer;
    text-align: center;
    color: #B6B6B7;
    font-size: 14px;
}